<form ng-submit="submit()" name="register" class="form-signin" novalidate>
  <input type="email"
         name="email"
         ng-model="email"
         ng-pattern="emailRegex"
         ng-class="{form_error_underline: register.email.$dirty && register.email.$invalid}"
         class="form-control first"
         placeholder="E-Mail Address"
         required
         autofocus>
  <input type="password"
         name="password"
         ng-model="password"
         class="form-control last"
         placeholder="Password"
         required>

  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="register.$invalid">
    Submit
  </button><br>
  <a class="text-muted pull-right" ui-sref="register">Create Account</a>
</form>
