<form ng-submit="submit()" name="register" class="form-signin" novalidate>
  <h1 class="form-signin-heading text-muted">register</h1>
  <input type="email"
         name="email"
         ng-model="email"
         ng-class="{form_error_underline: register.email.$dirty && register.email.$invalid}"
         class="form-control first"
         placeholder="E-Mail Address"
         required
         autofocus>
  <input name="password"
         ng-model="password"
         type="password"
         class="form-control mid"
         placeholder="Password"
         required>
  <input name="password_confirm"
         ng-model="password_confirm"
         type="password"
         validate-equals="password"
         ng-class="{form_error_underline: register.password_confirm.$dirty && register.password_confirm.$invalid}"
         class="form-control last"
         placeholder="Confirm Password"
         required>

  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="register.$invalid">
    Submit
  </button>
</form>
